:root {
    --color-primary: #f7f5f4;
    --color-dark-bkgrnd: #625855;
    --color-light-bkgrnd: #e9e7dd;
    --color-body: #dedede;
    --color-body-lighter: #ffffff;
    --color-body-dark:#4c4a42;
    --color-body-darker:#0c0a02;
    --border-radius: 30px;
  }